# https://git-scm.com/docs/git-config

[alias]
	d = "diff"
	dh = "diff HEAD"
	s = "status"
	st = "status"

[color]
	ui = auto

[color "grep"]
	match = cyan bold
	selected = blue
	context = normal
	filename = magenta
	linenumber = green
	separator = yellow
	function = blue

[core]
	excludesfile = ~/.gitignore_global

[credential]
	helper = cache --timeout=3600

[diff]
	mnemonicPrefix = true
	wordRegex = "[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[merge]
	defaultToUpstream = true
	tool = vimdiff

[pretty]
	line = "%C(auto)%h %<|(60,trunc)%s %C(green)%ad%C(auto)%d"
	detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ad%n %C(auto)%d%n"

[push]
	default = simple

[user]
	name = Palotás Boldizsár
	email = boldizsar.palotas@gmail.com
	useConfigOnly = true

# Allow local customizations in the .gitconfig_local file
[include]
	path = ~/.gitconfig_local